---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo whitespace-nowrap">
        <svg width={LOGO_IMAGE.width} height={LOGO_IMAGE.height} viewBox=`0 0 ${LOGO_IMAGE.width} ${LOGO_IMAGE.height}` xmlns="http://www.w3.org/2000/svg">
          <path d="M72.3618 21.984V21.312C72.3618 18.848 72.8578 16.736 73.8498 14.976C74.8418 13.216 76.1858 11.856 77.8818 10.896C79.5778 9.93599 81.4338 9.45599 83.4498 9.45599C85.9138 9.45599 87.8018 9.93599 89.1138 10.896C90.4578 11.824 91.4498 12.864 92.0898 14.016H92.7618V10.128H96.3618V39.072C96.3618 40.352 96.0098 41.36 95.3058 42.096C94.6018 42.832 93.5778 43.2 92.2338 43.2H76.2978V39.84H91.2258C92.1858 39.84 92.6658 39.36 92.6658 38.4V29.472H91.9938C91.6098 30.176 91.0658 30.864 90.3618 31.536C89.6578 32.208 88.7458 32.768 87.6258 33.216C86.5058 33.632 85.1138 33.84 83.4498 33.84C81.4338 33.84 79.5778 33.36 77.8818 32.4C76.1858 31.44 74.8418 30.08 73.8498 28.32C72.8578 26.528 72.3618 24.416 72.3618 21.984ZM84.4578 30.48C86.8898 30.48 88.8578 29.712 90.3618 28.176C91.8978 26.64 92.6658 24.528 92.6658 21.84V21.456C92.6658 18.736 91.8978 16.624 90.3618 15.12C88.8578 13.584 86.8898 12.816 84.4578 12.816C82.0578 12.816 80.0738 13.584 78.5058 15.12C76.9698 16.624 76.2018 18.736 76.2018 21.456V21.84C76.2018 24.528 76.9698 26.64 78.5058 28.176C80.0738 29.712 82.0578 30.48 84.4578 30.48Z" />
          <path d="M58.0594 33.6V13.44H50.8594V10.128H58.0594V4.128C58.0594 2.848 58.4114 1.84 59.1154 1.104C59.8514 0.368 60.8914 0 62.2354 0H68.1394V3.264H63.2914C62.3314 3.264 61.8514 3.744 61.8514 4.704V10.128H69.2434V13.44H61.8514V33.6H58.0594Z" />
          <path d="M21.5024 21.984V21.312C21.5024 18.848 21.9984 16.736 22.9904 14.976C23.9824 13.216 25.3264 11.856 27.0224 10.896C28.7184 9.93599 30.5744 9.45599 32.5904 9.45599C35.0544 9.45599 36.9424 9.93599 38.2544 10.896C39.5984 11.824 40.5904 12.864 41.2304 14.016H41.9024V10.128H45.5024V39.072C45.5024 40.352 45.1504 41.36 44.4464 42.096C43.7424 42.832 42.7184 43.2 41.3744 43.2H25.4384V39.84H40.3664C41.3264 39.84 41.8064 39.36 41.8064 38.4V29.472H41.1344C40.7504 30.176 40.2064 30.864 39.5024 31.536C38.7984 32.208 37.8864 32.768 36.7664 33.216C35.6464 33.632 34.2544 33.84 32.5904 33.84C30.5744 33.84 28.7184 33.36 27.0224 32.4C25.3264 31.44 23.9824 30.08 22.9904 28.32C21.9984 26.528 21.5024 24.416 21.5024 21.984ZM33.5984 30.48C36.0304 30.48 37.9984 29.712 39.5024 28.176C41.0384 26.64 41.8064 24.528 41.8064 21.84V21.456C41.8064 18.736 41.0384 16.624 39.5024 15.12C37.9984 13.584 36.0304 12.816 33.5984 12.816C31.1984 12.816 29.2144 13.584 27.6464 15.12C26.1104 16.624 25.3424 18.736 25.3424 21.456V21.84C25.3424 24.528 26.1104 26.64 27.6464 28.176C29.2144 29.712 31.1984 30.48 33.5984 30.48Z" />
          <path d="M7.2 33.6V13.44H0V10.128H7.2V4.128C7.2 2.848 7.552 1.84 8.256 1.104C8.992 0.368 10.032 0 11.376 0H17.28V3.264H12.432C11.472 3.264 10.992 3.744 10.992 4.704V10.128H18.384V13.44H10.992V33.6H7.2Z" />
          <path d="M129.6 12.0597L113.003 28.6569L110.321 25.9755L126.919 9.3783L129.6 12.0597ZM109.066 29.8787C109.654 30.4671 109.959 31.1572 109.982 31.9492C109.982 32.7185 109.688 33.3973 109.099 33.9856C108.489 34.5966 107.798 34.902 107.029 34.902C106.237 34.8794 105.547 34.5739 104.959 33.9856C104.37 33.3973 104.076 32.7185 104.076 31.9492C104.076 31.1798 104.382 30.4897 104.993 29.8787C105.581 29.2904 106.26 28.9963 107.029 28.9963C107.798 28.9963 108.477 29.2904 109.066 29.8787Z" />
          <path d="M145.016 34.2719C142.648 34.2719 140.552 33.7759 138.728 32.7839C136.936 31.7919 135.528 30.3999 134.504 28.6079C133.512 26.7839 133.016 24.6399 133.016 22.1759V21.5519C133.016 19.1199 133.512 16.9919 134.504 15.1679C135.528 13.3439 136.936 11.9359 138.728 10.9439C140.552 9.95193 142.648 9.45593 145.016 9.45593C147.384 9.45593 149.464 9.95193 151.256 10.9439C153.08 11.9359 154.488 13.3439 155.48 15.1679C156.504 16.9919 157.016 19.1199 157.016 21.5519V22.1759C157.016 24.6399 156.504 26.7839 155.48 28.6079C154.488 30.3999 153.08 31.7919 151.256 32.7839C149.464 33.7759 147.384 34.2719 145.016 34.2719ZM145.016 30.8639C147.512 30.8639 149.496 30.0799 150.968 28.5119C152.472 26.9119 153.224 24.7679 153.224 22.0799V21.6479C153.224 18.9599 152.472 16.8319 150.968 15.2639C149.496 13.6639 147.512 12.8639 145.016 12.8639C142.552 12.8639 140.568 13.6639 139.064 15.2639C137.56 16.8319 136.808 18.9599 136.808 21.6479V22.0799C136.808 24.7679 137.56 26.9119 139.064 28.5119C140.568 30.0799 142.552 30.8639 145.016 30.8639Z" />
        </svg>
          
        <!-- {
          LOGO_IMAGE.enable ? (
            <img
              src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
              alt={SITE.title}
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
            />
          ) : (
            SITE.title
          )
        } -->
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/about/" class={activeNav === "about" ? "active" : ""}>
              About
            </a>
          </li>
          <li>
            <LinkButton
              href="/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
          {
            SITE.lightAndDarkMode && (
              <li>
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              </li>
            )
          }
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .logo svg {
    @apply w-auto h-auto fill-current;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
